:root {
    --lime: hsl(61, 70%, 52%);
    --lime-opacity-30: hsl(60, 68%, 85%);
    --red: hsl(4, 69%, 50%);
    --white: hsl(0, 0%, 100%);
    --slate-100: hsl(202, 86%, 94%);
    --slate-300: hsl(203, 41%, 72%);
    --slate-500: hsl(200, 26%, 54%);
    --slate-700: hsl(200, 24%, 40%);
    --slate-900: hsl(202, 55%, 16%);
    --slate-950: hsl(202, 55%, 10%);

}

* {
    font-family: "Plus Jakarta Sans", serif;
}


body {
    margin: 0;
}

.calculator {
    padding: 2rem;
}

.calculator__header {
    margin-bottom: 1rem;
}

.calculator__title {
    margin: 0;
}

.calculator__clear-button {
    border: 0;
    background-color: transparent;
    padding: 0;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    color: var(--slate-700);
}

.calculator__clear-button:hover {
    color: var(--slate-900);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    width: 100%;
    height: 100%;
    border: none;
    -moz-appearance: textfield;
    color: var(--slate-900);
    font-weight: 900;
    font-size: 16px;
    padding: 1rem;
}

input[type=number]:focus {
    outline: none;
}

.calculator__label {
    color: var(--slate-500);
    font-weight: 500;
}

.calculator__input {
    display: flex;
    align-items: center;
    border: var(--slate-500) solid 0.1rem;
    border-radius: 0.4rem;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
}

.calculator__input:hover:not(.calculator__input--focused) {
    border: var(--slate-700) solid 0.1rem;
}

.calculator__input--focused {
    border: var(--lime) solid 0.1rem;
}

.calculator__input--error {
    border: var(--red) solid 0.1rem;
}

.calculator__fieldset {
    padding: 0;
    border: 0, ;
}

input[type="radio"] {
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.1rem solid var(--slate-900);
    border-radius: 50%;
    transition: 0.2s all ease;

}

input[type="radio"]:checked {
    border: none;
    background-color: var(--lime);
    border: 0.3rem solid var(--lime-opacity-30);
    outline: 0.1rem solid var(--lime);

}

.calculator__input--radio {
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
    color: var(--slate-900);
    font-weight: 900;
}

.calculator__input--radio:hover {
    border: var(--lime) solid 0.1rem;
}

.calculator__input--radio:has(input[type="radio"]:checked) {
    background-color: var(--lime-opacity-30);
    border: var(--lime) solid 0.1rem;
}

.calculator__unit {
    background-color: var(--slate-100);
    height: 100%;
    font-weight: 700;
    color: var(--slate-700);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.calculator__unit--focused {
    background-color: var(--lime);
    color: var(--slate-900);
}

.calculator__unit--error{
    background-color: var(--red);
    color: var(--white)
}

.calculator__button {
    width: 100%;
    background-color: var(--lime);
    color: var(--slate-900);
    font-weight: 900;
    border: 0;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.results {
    background-color: var(--slate-900);
    padding: 2rem;
    color: var(--white);
    text-align: center;
}

.results__filled {
    text-align: start;
    justify-content: flex-start;
}

.results__filled--hidden {
    display: none;
}

.results__card-border {
    background-color: var(--lime);
    border-radius: 0.5rem;
    padding-top: 0.3rem;
    margin-top: 2rem;
    overflow: hidden;
}

.results__card-content {
    background-color: var(--slate-950);
    border-radius: 0.5rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.results__empty--hidden {
    display: none;
}

.results__tittle {
    margin: 0;
}

.results__info {
    color: var(--slate-500);
}

.results__tittle-number {
    color: var(--slate-500);
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5rem;
}

.results__number {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.results__number--big {
    font-size: 2rem;
    color: var(--lime);
}

.results__divider {
    border: none;
    height: 1px;
    background-color: var(--slate-700);
    margin: 0;
}

.error{
    color: var(--red);
    display: none;
}

.error--visible{
    display: block;
}

@media (min-width: 1300px) {
    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        background-color: var(--slate-100);
    }

    .container {
        display: flex;
        width: 1000px;
        background-color: var(--white);
        border-radius: 2rem;
        overflow: hidden;
    }

    .calculator {
        width: 50%;
        padding: 2rem;
    }

    .results {
        width: 50%;
        border-bottom-left-radius: 4rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .results:has(.results__empty--hidden) {
        justify-content: flex-start;
    }

    .calculator__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        grid-auto-flow: row;
    }

    .calculator__grid-item {
        grid-column: 1 / 3;
    }

    .calculator__grid-item--small {
        grid-column: span 1;
    }

    .calculator__input {
        margin-bottom: 0;
    }

    .calculator__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .calculator__button {
        width: 75%;
    }
}